<div class="container bg-light user-edit">
  <div class="row pt-3 user-edit__title">
    <div class="col-md-10 offset-md-1 user-edit__title">
      <h4 class="user-edit__title">プロフィール編集</h4>
    </div>
  </div>
  <%= form_with model:@user, local:true do |f| %>
  <div class="row new-post">
    <div class="col-md-11 offset-md-1 new-post__title">
      <%= render 'layouts/error_messages', model: f.object %>
    </div>
  </div>
  <div class="row pt-3 user-edit__form">
    <div class="col-md-3 offset-md-2 user-edit__form__label">タイトル</div>
    <div class="col-md-5 offset-md-1 user-edit__form__field"><%= f.text_field :name, autofocus: true, placeholder:"ユーザー名", size: 30%></div>
  </div>
  <div class="row mt-2 pt-2 border-top user-edit__form">
    <div class="col-md-3 offset-md-2 user-edit__form__label">プロフィール画像</div>
    <div class="col-md-5 offset-md-1 user-edit__form__field"><%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %></div>
  </div>
  <div class="row pt-3 user-edit__form">
    <div class="col-md-5 offset-md-6 user-edit__form__image"><%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", size: "80x80",style: "border-radius: 50%;"%></div>
  </div>
  <div class="row mt-2 pt-2 border-top user-edit__form">
    <div class="col-md-3 offset-md-2 user-edit__form__label">自己紹介</div>
    <div class="col-md-5 offset-md-1 user-edit__form__field"><%= f.text_area :introduction, autofocus: true, placeholder:"自己紹介文を書きましょう", rows:"3", cols:"30"%></div>
  </div>
  <div class="row mt-2 pt-2 border-top user-edit__form__actions">
    <div class="col-md-5 offset-md-2 mb-2 user-edit__form__actions__btn"><%= f.submit "変更を保存", class: "btn btn-success" %></div>
  </div>
  <% end %>
</div>