<div class="container bg-light user-show">
  <div class="row pt-3 d-flex align-items-center user-show">
    <div class="col-md-1 small user-show__profile-image">
      <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", size: "50x50",style: "border-radius: 50%;" %>
    </div>
    <div class="col-md-2 mb-2 small user-show__name">
      <div>ユーザーネーム</div>
      <div><%= @user.name %></div>
    </div>
    <div class="col-md-6 mb-2 small user-show__introduction">
      <div>自己紹介</div>
      <div><%= @user.introduction %></div>
    </div>
    <% if @user.id == current_user.id %>
    <div class="col-md-3 user-show__actions">
      <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-sm btn-primary", style: "font-size: small;" %>
    </div>
    <% end %>
  </div>
  <% if @user.id == current_user.id %>
  <div class="row pt-3 user-show__post-action">
    <div class="col-md-4 offset-md-2 mb-2 user-show__post-action_new-btn--new-post"><%= link_to "新規投稿画面へ", new_post_path, class: "btn btn-info", style: "font-size: small;" %></div>
    <div class="col-md-4 offset-md-1 mb-2 user-show__post-action_new-btn--new-configuration"><%= link_to "PC構成リスト作成画面へ", draft_configurations_path, class: "btn btn-info", style: "font-size: small;" %></div>
  </div>
  <% end %>

  <div class="row pt-3 user-show__post">
    <div class="col-md-6 user-show__post">
      <div class="mt-3 d-flex justify-content-center user-show__post__title">
        <h4 class="user-show__post__title">投稿一覧</h4>
      </div>
      <% @posts.each do |post| %>
      <div class="d-flex justify-content-center user-show__post">
        <%= link_to post_path(post.id) do %>
        <div class="user-show__post__content-box p-3">
          <div class="user-show__post__content-box__image"><%= attachment_image_tag post, :image, fallback: "no_image.jpg", size: "300x200" %></div>
          <div class="text-dark user-show__post__content-box__title"><%= post.title.truncate(20) %></div>
          <div class="small text-dark user-show__post__content-box__favorite">♥<%= post.post_favorites.count %>いいね</div>
          <div class="small text-dark user-show__post__content-box__tag">
            <% post.post_tags.each do |post_tag| %>
              <%= link_to post_tag_posts_path(post_tag_id: post_tag.id) do %>
                <span class="text-secondary pr-2 user-show__post__content-box__tag__name">#<%= post_tag.name %></span>
              <% end %>
            <% end %>
          </div>
          <div class="small text-dark user-show__post__content-box__user-name">ユーザーネーム：<%= post.user.name %></div>
          <div class="small text-dark user-show__post__content-box__created-at">投稿日時：<%= post.created_at.to_s(:datetime_jp) %></div>
        </div>
        <% end %>
      </div>
    <% end %>
    </div>
    <div class="col-md-6 user-show__pc-configuration">
      <div class="mt-3 d-flex justify-content-center user-show__pc-configuration__title">
        <h4>PC構成リスト一覧</h4>
      </div>
      <% @pc_configurations.each do |pc_configuration| %>
      <div class="d-flex justify-content-center user-show__pc-configuration">
        <%= link_to pc_configuration_path(pc_configuration.id) do %>
        <div class="post-index__content-box p-3">
          <div class="post-index__content-box__image"><%= attachment_image_tag pc_configuration, :image, fallback: "no_image.jpg", size: "300x200" %></div>
          <div class="text-dark post-index__content-box__title"><%= pc_configuration.title.truncate(20) %></div>
          <div class="small post-index__content-box__user-name">
            <%= link_to user_path(pc_configuration.user.id) do %>
              <div class="text-secondary post-index__content-box__user-name__link">ユーザーネーム：<%= pc_configuration.user.name %></div>
            <% end %>
          </div>
          <div class="small text-dark post-index__content-box__created-at">投稿日時：<%= pc_configuration.created_at.to_s(:datetime_jp) %></div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>