<div class="container bg-light user-show">
  <div class="row pt-3 d-flex align-items-center user-show">
    <div class="col-md-1 small user-show__profile-image">
      <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", size: "50x50",style: "border-radius: 50%;" %>
    </div>
    <div class="col-md-2 mb-2 small user-show__name">
      <div>ユーザーネーム</div>
      <div><%= @user.name %></div>
    </div>
    <div class="col-md-6 mb-2 small user-show__introduction">
      <div>自己紹介</div>
      <div><%= @user.introduction %></div>
    </div>
    <% if user_signed_in? %>
      <% if @user.id == current_user.id %>
      <div class="col-md-3 user-show__actions">
        <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-sm btn-primary", style: "font-size: small;" %>
      </div>
      <% end %>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <% if @user.id == current_user.id %>
    <div class="row pt-3 user-show__post-action">
      <div class="col-md-4 offset-md-2 mb-2 user-show__post-action_new-btn--new-post"><%= link_to "新規投稿画面へ", new_post_path, class: "btn btn-info", style: "font-size: small;" %></div>
      <div class="col-md-4 offset-md-1 mb-2 user-show__post-action_new-btn--new-configuration"><%= link_to "PC構成リスト作成画面へ", draft_configurations_path, class: "btn btn-info", style: "font-size: small;" %></div>
    </div>
    <% end %>
  <% end %>

  <div class="row pt-3 user-show__post">
    <div class="col-md-6 user-show__post">
      <div class="mt-3 d-flex justify-content-center user-show__post__title">
        <h4 id="user-show__post-index__title">投稿一覧</h4>
      </div>
      <div id="user-show__post-index">
        <%= render 'users/post_index', posts: @posts %>
      </div>
    </div>
    <div class="col-md-6 user-show__pc-configuration">
      <div class="mt-3 d-flex justify-content-center user-show__pc-configuration__title">
        <h4 id="user-show__pc-configuration__title">PC構成リスト一覧</h4>
      </div>
      <div id="user-show__pc-configuration">
        <%= render 'users/pc_configuration', pc_configurations: @pc_configurations %>
      </div>
    </div>
  </div>
</div>