<% if DraftConfiguration.exists?(user_id: current_user.id) %>
  <h2>PC構成リスト投稿フォーム</h2>
  <%= form_with model: @pc_configuration, local:true do |f| %>
    <h4>タイトル</h4>
    <%= f.text_field :title %>
    <h4>画像</h4>
    <%= f.attachment_field :image %>
    <h4>説明</h4>
    <%= f.text_area :body %>
    <!--<h4>タグ付け</h4>-->
    <!--<p>タグの間にスペースを入力することで複数のタグを付けることができます。</p>-->
    <!--%= f.text_field :names %-->
    <table class="table table-bordered">
      <thead>
          <tr class="table table-active">
              <th class="border border-dark", scope="col", style="width: 30%">パーツ名</th>
              <th class="border border-dark", scope="col", style="width: 15%">数量</th>
              <th class="border border-dark", scope="col", style="width: 15%">参考価格</th>
          </tr>
      </thead>
      <tbody>
        <% if @cpu_existing_configuration.nil? %>
        <% else %>
        <tr>
          <td class="border border-dark">
            <%= @cpu_existing_configuration.part.name %>
          </td>
          <td class="border border-dark">
            <%= @cpu_existing_configuration.quantity %>
          </td>
          <td class="border border-dark">
            ¥<%= @cpu_existing_configuration.part.price.to_s(:delimited) %>
          </td>
        </tr>
        <% end %>
        <% if @memory_existing_configuration.nil? %>
        <% else %>
        <tr>
          <td class="border border-dark">
            <%= @memory_existing_configuration.part.name %>
          </td>
          <td class="border border-dark">
            <%= @memory_existing_configuration.quantity %>
          </td>
          <td class="border border-dark">
            ¥<%= @memory_existing_configuration.part.price.to_s(:delimited) %>
          </td>
        </tr>
        <% end %>
        <% if @gpu_existing_configuration.nil? %>
        <% else %>
        <tr>
          <td class="border border-dark">
            <%= @gpu_existing_configuration.part.name %>
          </td>
          <td class="border border-dark">
            <%= @gpu_existing_configuration.quantity %>
          </td>
          <td class="border border-dark">
            ¥<%= @gpu_existing_configuration.part.price.to_s(:delimited) %>
          </td>
        </tr>
        <% end %>
        <% if @mb_existing_configuration.nil? %>
        <% else %>
        <tr>
          <td class="border border-dark">
            <%= @mb_existing_configuration.part.name %>
          </td>
          <td class="border border-dark">
            <%= @mb_existing_configuration.quantity %>
          </td>
          <td class="border border-dark">
            ¥<%= @mb_existing_configuration.part.price.to_s(:delimited) %>
          </td>
        </tr>
        <% end %>
        <% if @cooler_existing_configuration.nil? %>
        <% else %>
        <tr>
          <td class="border border-dark">
            <%= @cooler_existing_configuration.part.name %>
          </td>
          <td class="border border-dark">
            <%= @cooler_existing_configuration.quantity %>
          </td>
          <td class="border border-dark">
            ¥<%= @cooler_existing_configuration.part.price.to_s(:delimited) %>
          </td>
        </tr>
        <% end %>
        <% if @case_existing_configuration.nil? %>
        <% else %>
        <tr>
          <td class="border border-dark">
            <%= @case_existing_configuration.part.name %>
          </td>
          <td class="border border-dark">
            <%= @case_existing_configuration.quantity %>
          </td>
          <td class="border border-dark">
            ¥<%= @case_existing_configuration.part.price.to_s(:delimited) %>
          </td>
        </tr>
        <% end %>
        <% if @power_existing_configuration.nil? %>
        <% else %>
        <tr>
          <td class="border border-dark">
            <%= @power_existing_configuration.part.name %>
          </td>
          <td class="border border-dark">
            <%= @power_existing_configuration.quantity %>
          </td>
          <td class="border border-dark">
            ¥<%= @power_existing_configuration.part.price.to_s(:delimited) %>
          </td>
        </tr>
        <% end %>
        <% if @ssd_existing_configuration.nil? %>
        <% else %>
        <tr>
          <td class="border border-dark">
            <%= @ssd_existing_configuration.part.name %>
          </td>
          <td class="border border-dark">
            <%= @ssd_existing_configuration.quantity %>
          </td>
          <td class="border border-dark">
            ¥<%= @ssd_existing_configuration.part.price.to_s(:delimited) %>
          </td>
        </tr>
        <% end %>
        <% if @hdd_existing_configuration.nil? %>
        <% else %>
        <tr>
          <td class="border border-dark">
            <%= @hdd_existing_configuration.part.name %>
          </td>
          <td class="border border-dark">
            <%= @hdd_existing_configuration.quantity %>
          </td>
          <td class="border border-dark">
            ¥<%= @hdd_existing_configuration.part.price.to_s(:delimited) %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <div>
    <span><%= link_to "PC構成リストの編集画面へ戻る", draft_configurations_path, class: "btn btn-lg btn-primary col-3 offset-2" %></span>
    <span><%= f.submit "PC構成リストを投稿する", class: "btn btn-lg btn-success col-3 offset-2" %></span>
  </div>
  <% end %>
<% else %>
<h3>PC構成リストを作りましょう</h3>
<% end %>